{% extends 'base.html' %} 
{% load static %} 

{%block title%}
My Applications
{%endblock%}


{%block head%}
<link rel="stylesheet" href="{% static 'application/css/myapplications.css' %}" />
{%endblock%} 

{%block body%}

<div class="container">

{%if applications%}

    {%for application in applications%}

    <div class="application-card">
       <span><b>Election: </b>{{application.election.title}}</span> 
       <span><b>Status: </b>{{application.status.name}}</span> 
    </div>

    {%endfor%}

{%else%}
    <p>No applications yet</p>
{%endif%}
</div>

{%endblock%}