{% extends "base.html" %}
{% load static %} 

{% block title %}
Candidate Profile
{% endblock %}

{%block head%}
<link rel="stylesheet" href="{% static 'Election/css/all-elections.css' %}" />

{%endblock%} 

{%block body%}
<div class="container">
    
    <div class="election-card">
        <div class="body">
            <h3>{{election.title}}</h3> 
            <h4>Create Candidate Profile</h4>
            <form action="#" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                <label class="control-label">{{ field.label }}</label> 
                    <div class="controls">{{ field }}</div>
                <br>
                {% endfor %}
                <button type="submit" class="button">Upload</button>
            </form>
        </div>

    </div>
    
    
</div>

{% endblock %}